---
BasedOnStyle: LLVM
AlignConsecutiveMacros: true
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Linux
BraceWrapping:
  AfterFunction: true
#BreakStringLiterals: false
ColumnLimit: 0
IndentWidth: 2
ReflowComments: false
UseTab: Never

...
