.idea
.travis-cache
/data/wxmathml.lisp
/INSTALL
wxMaxima.win.zip
debian
aclocal.m4
Makefile
Makefile.in
config.*
wxmaxima.spec
missing
install-sh
depcomp
configure
autom4te.cache
compile
wxMaxima.app
wxMaxima/
acinclude.m4
texput.log
*.tar.gz.asc
*~
#*
.#*
*#
wxmaxima-*.*.*.tar.gz
dylibs.sh
dylibs.txt
wxmaxima.key
wxmaxima
CMakeCache.txt
cmake_install.cmake
CMakeFiles
cmake-build-debug
wxmaxima.cbp
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
