CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
wxMaxima.pot
.idea
.travis-cache
INSTALL
wxMaxima.win.zip
_CPack_Packages
wxmaxima-*.Z
wxmaxima-*.gz
wxmaxima-*.bz2
wxmaxima-*.xz
wxmaxima-*.deb
wxmaxima-*.rpm
debian
aclocal.m4
Makefile
Makefile.in
config.*
wxmaxima.spec
missing
install-sh
depcomp
configure
autom4te.cache
compile
wxMaxima.app
acinclude.m4
texput.log
*.tar.gz.asc
*.exe
*.o
obj
wxMaxima.depend
wxMaxima.layout
*~
#*
.#*
*#
wxmaxima-*.*.*.tar.gz
dylibs.sh
dylibs.txt
wxmaxima.key
wxmaxima
CMakeCache.txt
cmake_install.cmake
CMakeFiles
cmake-build-debug
wxmaxima.cbp
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
.vs
wxmaxima-local
wxmaxima-local.bat
Testing
build
build-*
*.asc
checksums-md5.txt
checksums-sha1.txt
checksums-sha256.txt
checksums-sha512.txt
create-checksums.sh
parts
locale
*.orig
cov-int
*.tgz
appimagetool-*.AppImage
_image*.png
gmon.out
buildsnap.sh
configure.sh
libs
prime
stage
wxmaxima_source.tar.bz2
CTestTestfile.cmake
Testing
deploy_rsa
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.DS_Store
.vscode/
wxmaxima.code-workspace
debian/files