*.wxmx binary
art/*/*.h linguist-generated=true
src/invalidImage.h linguist-generated=true
data/icon.h linguist-generated=true
wxmaxima-local text eol=lf
*.sh text eol=lf
*.cpp text working-tree-encoding=UTF-8 eol=lf
*.h text working-tree-encoding=UTF-8 eol=lf
*.rc text working-tree-encoding=UTF-8 eol=lf
*.po text working-tree-encoding=UTF-8 eol=lf
*.xml text working-tree-encoding=UTF-8 eol=lf
*.desktop text working-tree-encoding=UTF-8 eol=lf
AUTHORS          text working-tree-encoding=UTF-8 eol=lf
COPYING          text working-tree-encoding=UTF-8 eol=lf
ChangeLog        text working-tree-encoding=UTF-8 eol=lf
*/ChangeLog      text working-tree-encoding=UTF-8 eol=lf
checksums.cmake  text working-tree-encoding=UTF-8 eol=lf
README           text working-tree-encoding=UTF-8 eol=lf
*/README         text working-tree-encoding=UTF-8 eol=lf
*.in             text working-tree-encoding=UTF-8 eol=lf
*.txt            text working-tree-encoding=UTF-8 eol=lf
*.xpm            text working-tree-encoding=UTF-8 eol=lf
