body
{
	background-color:#ddd;
	font-family: Verdana, sans-serif;
}

#container
{
	margin: 30px auto;
	width: 600px;
	background:#fff;
}

#header
{
	background:#844;
	color:#fff;
	padding: 20px;
}

#header h1
{
	margin: 0;
	font-variant: small-caps;
	font-size: 300%;
}

#navigation
{
	float: left;
	width: 600px;
	background:#333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#navigation li a:hover { background:#833; }

#content
{
	clear: left;
	padding: 20px;
	min-height: 450px;
}

#content h2
{
	color:#000;
	font-size: 140%;
	margin: 0 0 .5em;
}

#content a { color:#833; }

#footer
{
	background-color:#999;
	font-size: x-small;
	text-align: center;
	padding: 5px;
}

#screenshots
{
	margin-left: auto;
	margin-right: auto;
}

#screenshots img
{
	border-width: 0;
}

#screenshots td
{
	padding: 10px;
}
