body
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.screenshots-table {
    width: 100%;
}

.screenshots-table td img {
    margin: auto;
}

.screenshots-table td {
    padding: 20px;
    vertical-align: top;
}

.img-main {
    width : 400px;
    heigth : auto;
    max-width: 40%;
    margin : 10px;
    box-shadow: 10px 10px 5px #888888;
}

.code {
    font-family: "Courier New";
}