[Desktop Entry]
Name=wxMaxima
Comment=Perform symbolic and numeric calculations using Maxima
Exec=wxmaxima
Icon=wxmaxima.png
Terminal=false
Type=Application
Categories=Education;Science;Math;X-Red-Hat-Base;X-Red-Hat-Base-Only;
