[Desktop Entry]
Name=wxMaxima
Comment=Perform symbolic and numeric calculations using Maxima
Comment[uk]=Виконання аналітичних перетворень та обчислень за допомогою Maxima
Exec=wxmaxima %f
Icon=wxmaxima.svg
Terminal=false
Type=Application
Categories=Education;Science;Math;X-Red-Hat-Base;X-Red-Hat-Base-Only;
MimeType=text/x-wxmaxima-batch;
