[Desktop Entry]
Name=wxMaxima
Comment=Perform symbolic and numeric calculations using Maxima
Exec=wxmaxima
Icon=maxima-new.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Utility;X-Red-Hat-Base;X-Red-Hat-Base-Only;