
/*--------------------------------------------------------
  --          Created with wxMaxima version 15.06.0  -------------------------------------------------------- */

body {
  background-color: rgb(255,255,255);
}
.input {
  color: 
rgb(83,83,83);
}
.comment {
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
  padding: 2mm;
}
.code_variable {
  color: 
rgb(0,76,0);
}
.code_function {

  color: rgb(128,0,0);
}
.code_comment {
  color: rgb(64,64,64);
}
.code_number {
  color: rgb(128,64,0);
}
.code_string {
  color: rgb(128,64,0);
}
.code_operator {
  color: rgb(0,0,0);
}
.code_endofline {
  color: rgb(192,192,192);}
img {
  -ms-interpolation-mode: bicubic;
}
.image {
  color: rgb(0,0,0);
  padding: 2mm;
}
.section {
  color: rgb(0,0,0);
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  padding: 2mm;
}
.subsect {
  color: rgb(0,0,0);
  font-weight: bold;
  font-size: 1.2em;
  padding: 2mm;
}
.subsubsect {
  color: rgb(0,0,0);
  font-weight: bold;
  font-size: 1.2em;
  padding: 2mm;
}
.title {
  color: rgb(0,0,0);
  font-weight: bold;
  text-decoration: underline;
  font-size: 2em;
  padding: 2mm;
}
.prompt {
  color: rgb(255,0,0);
}
table {
  border: 0px;
}
td {
  vertical-align: top;
  padding: 1mm;
}
