Source: wxmaxima
Section: math
Priority: optional
Maintainer: Rafa Rodriguez Galvan <rafael.rodriguez@uca.es>
Uploaders: Marco Presi (Zufus) <zufus@debian.org>
Build-Depends: cdbs, patchutils (>= 0.2.25), debhelper (>= 4.1.0), libwxgtk2.6-dev, libxml2-dev (>=2.5.0) 
Standards-Version: 3.6.2.1

Package: wxmaxima
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, maxima (>= 5.10.0)
Description: a wxWidgets GUI for the computer algebra system maxima
 wxmaxima provides a wxWindows interface for maxima, including a menu
 system, browsable help and formated output. Features as symbolic
 manipulation of polynomials, rational functions, matrices,
 integration and graphics are as easy as point and click.
 GNU maxima is a free and powerful common lisp implementation based
 of the original computer algebra system Macsyma, originally developed
 at MIT in the 1970's.
