Source: wxmaxima
Section: math
Priority: optional
Maintainer: Gunter Königsmann <wxmaxima@physikbuch.de>
Build-Depends: debhelper-compat (= 13), cmake (>= 3.4) | cmake3, libwxgtk3.0-gtk3-dev, xvfb, netcat-openbsd, xauth, desktop-file-utils, appstream-util
Standards-Version: 4.5.0
Vcs-Git: https://github.com/wxMaxima-developers/wxmaxima.git -b DebianPackaging
Vcs-Browser: https://github.com/wxMaxima-developers/wxmaxima
Homepage: http://wxmaxima-developers.github.io/wxmaxima/
Rules-Requires-Root: no

Package: wxmaxima
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, maxima
Recommends: maxima-doc
Suggests: fonts-jsmath, texlive-latex-extra, ibus-gtk3
Description: GUI for the computer algebra system Maxima
 wxMaxima is a graphical user interface for the computer algebra system
 Maxima. It eases the use of Maxima by making most of its commands available
 through a menu system and by providing input dialogs for commands that
 require more than one argument. It also implements its own display engine
 that outputs mathematical symbols directly instead of depicting them with
 ASCII characters.
 .
 wxMaxima also features 2D and 3D inline plots, simple animations, mixing of
 text and mathematical calculations to create documents, exporting of input
 and output to TeX, and a browser for Maxima's manual including command index
 and full text searching.
