#!/usr/bin/make -f
# Sample debian/rules that uses cdbs.  Originaly written by Robert Millan.
# This file is public domain.

DEB_TAR_SRCDIR                  := wxmaxima-0.7.0a
DEB_AUTO_CLEANUP_RCS            := yes

#DEB_DH_INSTALL_SOURCEDIR := debian/wxmaxima
DEB_DH_INSTALL_ARGS := -v
# Add here any variable or target overrides you need

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

binary-predeb/wxmaxima::
	rm -fr $(DEB_DESTDIR)/usr/share/wxMaxima/COPYING
	mkdir $(DEB_DESTDIR)/usr/share/wxMaxima/icons
	cp debian/maximaicon.xpm $(DEB_DESTDIR)/usr/share/wxMaxima/icons

binary-install/wxmaxima::
	rm -rf $(DEB_DESTDIR)/usr/share/doc/wxmaxima/NEWS
	mv $(DEB_DESTDIR)/usr/share/wxMaxima/README $(DEB_DESTDIR)/usr/share/doc/wxmaxima/
	dh_desktop -pwxmaxima
