#img_wxMaximaLogo {
	width: 128;
	height: 128;
}

#img_maxima_screenshot{
	width: 891;
	height: 528;
}

#img_wxMaximaWindow{
	width: 1064;
	height: 755;
}

#img_InputCell{
	width: 310;
	height: 134;
}

#img_cell-example{
	width: 1185;
	height: 991;
}

#img_ezUnits{
	width: 970;
	height: 616;
}

#img_SidePanes{
	width: 997;
	height: 864;
}

#img_BatchImage{
	width: 639;
	height: 436;
}

#img_wxMaxima_configuration_001{
	width: 680;
	height: 584;
}

#img_wxMaxima_configuration_002{
	width: 680;
	height: 584;
}

#img_MatrixTableExample{
	width: 580;
	height: 303;
}

#img_SecondTableExample{
	width: 449;
	height: 254;
}

#img_sbclMemory{
	width: 729;
	height: 688;
}
