#img_wxMaximaLogo {
	width: 128px;
	height: 128px;
}

#img_maxima_screenshot{
	width: 891px;
	height: 528px;
}

#img_wxMaximaWindow{
	width: 1064px;
	height: 755px;
}

#img_InputCell{
	width: 310px;
	height: 134px;
}

#img_cell-example{
	width: 1185px;
	height: 991px;
}

#img_ezUnits{
	width: 970px;
	height: 616px;
}

#img_SidePanes{
	width: 997px;
	height: 864px;
}

#img_BatchImage{
	width: 639px;
	height: 436px;
}

#img_wxMaxima_configuration_001{
	width: 680px;
	height: 584px;
}

#img_wxMaxima_configuration_002{
	width: 680px;
	height: 584px;
}

#img_MatrixTableExample{
	width: 580px;
	height: 303px;
}

#img_SecondTableExample{
	width: 449px;
	height: 254px;
}

#img_sbclMemory{
	width: 729px;
	height: 688px;
}
