[Desktop Entry]
Encoding=UTF-8
Name=wxMaxima
GenericName=GUI for Maxima
GenericName[de]=Eine grafische Oberfläche für Maxima
GenericName[it]=Un'interfaccia grafica per Maxima
GenericName[ru]=Графический интерфейс для Maxima
GenericName[uk]=Графічний інтерфейс до Maxima
Comment=A graphical user interface that allows symbolic and numeric calculations using Maxima
Comment[de]=Eine grafische Oberfläche für Maxima, ein Programm für Symbolische und Numerische Berechnungen
Comment[it]=Un'interfaccia grafica che permette all'utente di effettuare calcoli numerici e simbolici usando Maxima
Comment[ru]=Графический интерфейс для символьных и числовых вычислений с помощью Maxima
Comment[uk]=Графічний інтерфейс для символічних та числових обчислень за допомогою Maxima
X-GNOME-FullName=wxMaxima - GUI for Maxima
X-GNOME-FullName[de]=wxMaxima - un'interfaccia grafica per Maxima
X-GNOME-FullName[it]=wxMaxima - GUI for Maxima
X-GNOME-FullName[ru]=wxMaxima - графический интерфейс для Maxima
X-GNOME-FullName[uk]=wxMaxima — графічний інтерфейс до Maxima
Exec=wxmaxima %f
Icon=wxmaxima
Type=Application
Categories=Education;Math;
MimeType=text/x-wxmaxima-batch;text/x-wxmathml;text/x-maximasession;text/x-maxima-out;
Keywords=maths;cas;algebra;education;engineering;physics;
