[Desktop Entry]
Type=Application
Name=wxmaxima
Exec=foo2
Comment=wxMaxima is a document based interface for the computer algebra system Maxima
Icon=maxima
Categories=Development;
Terminal=true
