#define wxMANIFEST_ID 2
wxMANIFEST_ID 24 "../data/winrc/wxmaxima.manifest"

icon0 ICON "../data/winrc/maximaicon.ico"
icon1 ICON "../data/winrc/wxmac-doc.ico"

#define wxUSE_NO_MANIFEST 1
#include "wx/msw/wx.rc"
