/* We provide our own manifest.
#define wxMANIFEST_ID 1
wxMANIFEST_ID 24 "../data/winrc/wxmaxima.manifest"

/* Tell wxWidgets not to add its own manifest to the program. */
#define wxUSE_NO_MANIFEST 1
#include "wx/msw/wx.rc"

icon0 ICON "../data/winrc/maximaicon.ico"
icon1 ICON "../data/winrc/wxmac-doc.ico"

