# Set up Cygwin. Source: https://github.com/egor-tensin/setup-cygwin
name: compile_cygwin

on: [push]

permissions:
  contents: read


jobs:
  setup_cygwin:
    runs-on: windows-latest
    steps:
      - name: setup_cygwin
        uses: cygwin/cygwin-install-action@v3
        with:
          packages: cmake git libwx_baseu3.1-devel libwx_gtk3u3.1-devel gcc-core gcc-g++ make gettext-devel graphviz
      - name: Checkout_git
        run: git clone --depth 20 https://github.com/wxMaxima-developers/wxmaxima.git
      - name: configure
        run: |
             mkdir build
             cd build
             cmake ../wxmaxima
             cd ..
      - name: compile
        run: |
             cd build
             make VERBOSE=1 -j 4
             cd ..
