# Taken from: https://github.com/cpplint/GitHub-Action-for-cpplint
name: cpplint
on: [push, pull_request]
jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v4
    - run: pip install cpplint
    - run: cpplint --filter="-whitespace/end_of_line,-whitespace/braces,-whitespace/line_length,-whitespace/parens,-whitespace/comments,-whitespace/newline,-runtime/int,-build/header_guard,-build/include_subdir,-build/c++11,-whitespace/indent,-readability/inheritance,-build/include_order,-runtime/references,-readability/braces,-readability/todo,-runtime/indentation_namespace" --recursive .
